<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello</title>
  </head>
  <body>
    <h1>Hello from view</h1>
    <p><%=data%></p>
  </body>
</html>
INSERT INTO Allcodes (Allcodes.type,Allcodes.keyMap, Allcodes.valueEn,
Allcodes.valueVi, Allcodes.createdAt, Allcodes.updatedAt) values
('ROLE','R1','Admin', 'Quản trị viên', '2022-11-21', '2022-11-21' ); INSERT INTO
Allcodes (Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('ROLE','R2','Doctor', 'Bác sĩ' ,
'2022-11-21', '2022-11-21'); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('ROLE','R3','Patient', 'Bệnh
nhân' , '2022-11-21', '2022-11-21'); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('STATUS','S1','New', 'Lịch hẹn
mới' , '2022-11-21', '2022-11-21'); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('STATUS','S2','Confirmed', 'Đã
xác nhận' , '2022-11-21', '2022-11-21'); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('STATUS','S3','Done', 'Đã khám
xong' , '2022-11-21', '2022-11-21'); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('STATUS','S4','Cancel', 'Đã
hủy', '2022-11-21', '2022-11-21' ); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('TIME','T1','8:00 AM - 9:00 AM',
'8:00 - 9:00', '2022-11-21', '2022-11-21' ); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('TIME','T2','9:00 AM - 10:00
AM', '9:00 - 10:00', '2022-11-21', '2022-11-21' ); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('TIME','T3','10:00 AM - 11:00
AM', '10:00 - 11:00', '2022-11-21', '2022-11-21' ); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('TIME','T4','11:00 AM - 0:00
PM', '11:00 - 12:00', '2022-11-21', '2022-11-21' ); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('TIME','T5','1:00 PM - 2:00 PM',
'13:00 - 14:00', '2022-11-21', '2022-11-21' ); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('TIME','T6','2:00 PM - 3:00 PM',
'14:00 - 15:00', '2022-11-21', '2022-11-21' ); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('TIME','T7','3:00 PM - 4:00 PM',
'15:00 - 16:00', '2022-11-21', '2022-11-21' ); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('TIME','T8','4:00 PM - 5:00 PM',
'16:00 - 17:00' , '2022-11-21', '2022-11-21'); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('POSITION','P0','None', 'Bác sĩ'
, '2022-11-21', '2022-11-21'); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('POSITION','P1','Master', 'Thạc
sĩ', '2022-11-21', '2022-11-21' ); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('POSITION','P2','Doctor', 'Tiến
sĩ', '2022-11-21', '2022-11-21' ); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('POSITION','P3','Associate
Professor', 'Phó giáo sư' , '2022-11-21', '2022-11-21'); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('POSITION','P4','Professor',
'Giáo sư', '2022-11-21', '2022-11-21' ); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('GENDER','M','Male', 'Nam',
'2022-11-21', '2022-11-21' ); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('GENDER','F','Female', 'Nữ',
'2022-11-21', '2022-11-21' ); INSERT INTO Allcodes
(Allcodes.type,Allcodes.keyMap, Allcodes.valueEn, Allcodes.valueVi,
Allcodes.createdAt, Allcodes.updatedAt) values ('GENDER','O','Other', 'Khác',
'2022-11-21', '2022-11-21' );
